.nav1{
	position: absolute;
	right: 10px;
	top: 0;
}
.nav1 ul{
	
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
	 
}
.nav1 ul li {
	display: inline-block;
	margin-left: 1em;
	padding-left: 0.5em;
		
}
.nav1 ul li a{
	border: 0;
	color: #483D8B;
	display: inline-block;
	height: inherit;
	line-height: inherit;
	outline: 0;
}

#menu1{
	height: 4em;
	left: 0;
	line-height: 4em;
	box-shadow:-4px 7px -13px raba(0,0,0,0.75);
	background:#E6E6FA;
}